/* CONTAINER */
.container {
  min-height: 100dvh;
  width: 100vw;
  background-color: #1d1d1d;
  color: #ebebeb;
}

.mainContent {
  padding: 40px;
  margin-left: 10vw;
}

/* SEARCH BAR */
.search-bar2 {
  margin-left: 650px;
  height: 38px;
  padding: 0 3px;
  max-width: 500px;
  border: none;
  border-radius: 6px;
}

/* EXAMS LIST HEADER */
.exams-list-header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

/* EXAMS LIST */
.exams-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.exam-list-item {
  list-style: none;
  width: 75%;
  max-width: 800px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: bold;
}

.border-color-0 {
  border-color: #0596ff;
}

.border-color-0:hover {
  background-color: #0596ff;
}

.border-color-1 {
  border-color: #00a39b;
}

.border-color-1:hover {
  background-color: #00a39b;
}

.border-color-2 {
  border-color: #a375ff;
}

.border-color-2:hover {
  background-color: #a375ff;
}

.exam-list-item a {
  width: 100%;
  height: 100%;
  padding: 24px 14px;
  display: flex;
  text-decoration: none;
  color: #ebebeb;
}

.action-button {
  background-color: #0596ff;
  color: #ebebeb;
  min-width: 200px;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 20px;
}

.titulogrupo {
  font-size: 65px;
  font-weight: 800;
  margin-left: -10px;
  background-color: #ebebeb;
  color: #1d1d1d;
  border: none;
  width: 85%;
}

.modal {
  background-color: #1d1d1d;
}

.modaldetalles2 {
  background-color: #1d1d1d;
  border: none;
  text-align: center;
  color: #ebebeb;
}

.modal-footer {
  align-items: center;
  justify-content: space-around;
}

.modal-dialog {
  margin-top: 200px;
}

.tamanobody2 {
  font-size: 22px;
}

.botonCrear {
  margin-top: 15px;
  padding: 10px 20px;
  margin-left: 300px;
  margin-bottom: 20px;
  text-align: end;
  background-color: #ebebeb;
  color: #0596ff;
  border-color: #ebebeb;
  font-size: 24px;
}

.lista {
  color: #ebebeb;
  font-size: 34px;
  text-align: center;
}
