.dropdown {
    width: 80%;
    height: 100px;
    margin-top: 15px;
    background-color: #0596ff;
    color: #ebebeb;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

<<<<<<< Updated upstream
.titulo {
    font-size: 35px;
    font-weight: 500;
    margin-left: 20px;
}

.pregIcon{
    float: right;
    margin-right: 20px;
}

.extension{
    display: flex;
    flex-wrap: wrap;
    background-color: ;
}

.respuesta {
}
=======
  .titulo {
    font-size: 35px;
    font-weight: 500;
    margin-left: 20px;
  }

  .pregIcon{
    float: right;
    margin-right: 20px;
  }
  
  .extension{
    display: flex;
    flex-wrap: wrap;
  }
>>>>>>> Stashed changes
