/* OUTER CONTAINER */
.outer-container {
    position: fixed;
    width: 100dvw;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}

/* INNER CONTAINER */
.container {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container div {
    position: relative;
}

/* BACKGROUND IMAGE */
.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.25;
}

/* LOGO IMAGE */
.logo-image {
    width: 280px;
}


/* INFO CONTAINER */
.info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}


/* SUBMIT BUTTON */
.submit-btn {
    background-color: #0596FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 15px 40px;
    border: none;
    font-weight: 600;
    margin-bottom: 30px;
}
