.CrearExamen {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  color: #ebebeb;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.CrearExamen h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 40px;
}

.label {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.input[type="text"],
.textarea {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 800px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tagDatalist {
  max-height: 5em;
  overflow: hidden;
  position: absolute;
  border: 0 none;
  color: green;
}

.botonPreguntas {
  background-color: #0596FF;
  border-radius: 5px;
  padding: 15px 40px;
  border: none;
  color: #ebebeb;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.custom-form {
  border: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.tag {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag span {
  font-size: 16px;
  margin-right: 10px;
}

