/* The sidebar menu */
.sidenav {
  height: 100vh;
  width: 10vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0596ff;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.sidenav a:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.logoPrincipal {
  display: block;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 40px;
  width: 60%;
}

.iconSidebar {
  width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}