/* Provide sufficient contrast against #ebebeb background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #1d1d1d;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
