.container,
.list {
    display: flex;
    margin-bottom: 0;
}

.list{
  padding-left: 0;
}

.container {
    border-bottom: 2.5px solid #0596ff;
    list-style-type:none;
    max-width: 80%;
}

.container {
    margin-left: 12%;
    background-color: #1d1d1d;
    margin-bottom: auto;
}


.aux-container,
.item-container {
    border-bottom: 1px ridge #0596ff;
    list-style-type: none;
}

.item-container {
  background-color: transparent;
}

.item-container button {
  border: none;
  opacity: 0.5;
  color: #1d1d1d;
  font-size: x-large;
  font-weight: 500;
  padding: 10px 18px;
}

.item-container.active-item button {
  opacity: 1;
}

.active-item {
  color: #ebebeb;
  border-bottom: 1.5px solid #ebebeb;
}
