.dropdown {
  width: 100%;
  background-color: #0596ff;
  color: #ebebeb;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 10px;
  z-index: 1;
}

.titulopregunta {
  font-size: 35px;
  font-weight: 500;
  margin-left: 20px;
  background-color: #0596ff;
  color: #ebebeb;
  border: none;
  width: 85%;
}

.inputpregunta {
  font-size: 35px;
  font-weight: 500;
  margin-left: 20px;
  background-color: #0596ff;
  color: #b9b9b9;
  border-color: #ebebeb;
  width: 85%;
}

.opciones {
  background-color: rgba(5, 150, 255, 0);
  box-shadow: none;
  color: #ebebeb;
  border: none;
}

::placeholder {
  color: #bbbaba;
} /* WebKit */

.pregIcon {
  float: right;
  margin-right: 20px;
}

.pregIcon:hover {
  cursor: pointer;
}

.pregunta {
  margin-top: 30px;
  width: 70%;
  margin-right: 50px;
}

.extension {
  display: flex;
  align-items: center;
  background-color: rgba(5, 150, 255, 0.3);
  color: #ebebeb;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.respuestas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.respuesta {
  margin: 10px 0 10px 15px;
  width: 40%;
}

.respuesta input {
  display: inline-block;
}

.respuesta p {
  margin-left: 10px;
  font-size: 18px;
  display: inline-block;
}

.iconsRespuesta {
  width: 20%;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
}

.crudIcon:hover {
  cursor: pointer;
}

.boton {
  background-color: #0596ff;
  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  color: #ebebeb;
}

.aviso {
  color: #ebebeb;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
}

.botonPreguntas {
  background-color: #0596ff;
  border-radius: 5px;
  padding: 15px 40px;
  border: none;
  color: #ebebeb;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  box-shadow: 7px 7px rgba(0px, 0px, 0px, 0.24);
}

.botonPreguntas:hover {
  background-color: #046db8;
  transform: scale(0.98);
  box-shadow: 2px 2px rgba(0px, 0px, 0px, 0.24);
}

.opciones {
  background-color: rgba(5, 150, 255, 0);
  box-shadow: none;
  color: #ebebeb;
  border: none;
}

.botonCancelarPregunta {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 15px 40px;
  color: #0596ff;
  margin-top: 28px;
  margin-right: 335px;
  font-size: 20px;
  margin-bottom: 30px;
}
